<table border="1">
    <tr>
        <th>User Name</th>
        <th>Company Name</th>
        <th>Job Description</th>
    </tr>
    <% for (var i=0; rs.length > i; i++){ %>
    <tr>
        <td><a href="/accounts/?account_id=<%= rs[i].id %>"><%= rs[i].fname %> <%= rs[i].lname %></a></td>
        <td><%= rs[i].company %></td>
        <td><%= rs[i].job_description %></td>
    </tr>
    <% } %>
</table>